body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: sans-serif;
}

.player {
  max-width: 750px;
  width: 100%;
  background: black;
  overflow: hidden;
}

.player__video {
  width: 100%;
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
}

.player__button,
.rewind,
.forward {
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.player__slider {
  margin-right: 10px;
}

.progress {
  flex: 1 0 100%;
  background: #ccc;
  height: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.progress__filled {
  width: 0%;
  background: #00aaff;
  height: 100%;
  transition: width 0.1s;
}
